<ion-toolbar class="porridge-header-toolbar">
  @if (leftButton) {
    <ion-buttons slot="start">
      <ion-button
        (click)="leftButtonAction()">
        <ion-icon aria-hidden="true" name="{{leftButton.icon}}" [style.color]="leftButton.iconColour"></ion-icon>
      </ion-button>
    </ion-buttons>
  }
  @if (rightButton) {
    <ion-buttons slot="end">
      <ion-button
        (click)="rightButtonAction()">
        <ion-icon aria-hidden="true" name="{{rightButton.icon}}" [style.color]="rightButton.iconColour"></ion-icon>
      </ion-button>
    </ion-buttons>
  }


</ion-toolbar>
