<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXw6kiIov10ybG0xIj52IRsG0jblZolJA</string>
	<key>GCM_SENDER_ID</key>
	<string>545967023983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.porridge.app</string>
	<key>PROJECT_ID</key>
	<string>porridge-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>porridge-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545967023983:ios:bc99dd6ce6dfb34b5b6a9a</string>
</dict>
</plist>